{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Reservation index</h1>

        <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.brand }}</td>
                <td>{{ vehicle.model }}</td>
                <td>
                    <a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}" class="btn btn-info btn-sm">
                        Voir
                    </a>
                    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}" class="btn btn-warning btn-sm">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="text-center mt-4">
            <a href="{{ path('app_reservation_new') }}" class="btn btn-success">
                Ajouter une réservation
            </a>
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('app_vehicle_index') }}" class="btn btn-primary">Retour à la liste des véhicules</a>
        </div>
    </div>
{% endblock %}
